* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 20px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tab {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 50px);
  gap: 5px;
  margin-bottom: 10px;
}

#tab > div {
  width: 50px;
  height: 50px;

  background-color: red;
  border: 5px solid brown;

  display: flex;
  align-items: center;
  justify-content: center;
}

#tab > div.selected {
  border-color: lightblue;
}

#tab > div.checked {
  background-color: lightseagreen;
}
